

#ve1173 .Container {
  background-color: #018657;
  transparency: 0.9;
}
.GraphDataStyle5 {
  marker-color: #161616;
  text-color: #161616;
  fill-color: #161616;
  line-color: #161616;
}
#vi1778 .ReportPagePadding {
  padding: 0px;
}
#ve1772 .Container {
  background-color: #018657;
  transparency: 0;
}
.GraphDataStyle1 {
  marker-color: #018657;
  text-color: #018657;
  fill-color: #018657;
  line-color: #018657;
}
#vi1164 .ReportPagePadding {
  padding: 0px;
}
#ve1162 .Container {
  background-color: #15B57B;
  transparency: 0.91;
}
.Other {
  fill-color: #74D173;
}
#ve1167 .ReportElementContainer {
  padding: 0px;
}
#vi1175 .ReportPagePadding {
  padding: 0px;
}
#ve1169 .Container {
  background-color: #018657;
  transparency: 0;
}
#ve1776 .Container {
  background-color: #018657;
  transparency: 0.88;
}
.GraphDataStyleDefault {
  marker-color: #018657;
  text-color: #018657;
  fill-color: #018657;
  line-color: #018657;
}
#ve1147 .ReportElementContainer {
  padding: 0px;
}
#ve1149 .Container {
  background-color: #018657;
  transparency: 0;
}
#ve1826 .ReportElementContainer {
  padding: 0px;
}
#ve1770 .ReportElementContainer {
  padding: 0px;
}

			